src/main/resources/report.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="Report">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ReportLabels" minOccurs="1" maxOccurs="unbounded">
               <xs:complexType>
                  <xs:attribute name="lang" type="xs:string" use="required" />
                  <xs:attribute name="caption" type="xs:string" use="required" />
                  <xs:attribute name="description" type="xs:string" use="required" />
                  <xs:attribute name="datasource" type="xs:string" use="required"  />
               </xs:complexType>
            </xs:element>
            <xs:element name="ReportHelp" minOccurs="1" maxOccurs="unbounded">
               <xs:complexType>
                  <xs:simpleContent>
                     <xs:extension base="xs:string">
                        <xs:attribute name="lang" type="xs:string" use="required" />
                     </xs:extension>
                  </xs:simpleContent>
               </xs:complexType>
            </xs:element>
            <xs:element name="Indicators">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="Indicator" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="IndicatorLabels" minOccurs="1" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:attribute name="lang" type="xs:string" use="required" />
                                    <xs:attribute name="caption" type="xs:string" use="required" />
                                    <xs:attribute name="description" type="xs:string" use="required" />
                                    <xs:attribute name="valueUnit" type="xs:string" use="required" />
                                    <xs:attribute name="valueUnitPlural" type="xs:string" use="optional" />
                                    <xs:attribute name="denominatorUnit" type="xs:string" use="required" />
                                    <xs:attribute name="denominatorUnitPlural" type="xs:string" use="optional" />
                                 </xs:complexType>
                              </xs:element>							  
                           </xs:sequence>
                           <xs:attribute name="id" type="xs:nonNegativeInteger" use="required" />
                           <xs:attribute name="valueUniqueName" type="xs:string" use="required" />
                           <xs:attribute name="valueIsHidden" type="xs:boolean" use="required" />
                           <xs:attribute name="valueSign" type="xs:decimal" use="required" />
                           <xs:attribute name="denominatorUniqueName" type="xs:string" use="required" />
                           <xs:attribute name="denominatorIsHidden" type="xs:boolean" use="required" />
                           <xs:attribute name="denominatorSign" type="xs:decimal" use="required" />
                           <xs:attribute name="denominatorMultiplier" type="xs:decimal" use="required" />
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="Visualizations">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="Visualization" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                           <xs:attribute name="initString" type="xs:string" use="required" />
                           <xs:attribute name="order" type="xs:nonNegativeInteger" use="required" />
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="Hierarchies">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="Hierarchy" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="HierarchyNames" minOccurs="1" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:attribute name="lang" type="xs:string" use="required" />
                                    <xs:attribute name="caption" type="xs:string" use="required" />
                                    <xs:attribute name="description" type="xs:string" use="required" />
                                    <xs:attribute name="topLevelString" type="xs:string" use="required" />
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="Levels">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element name="Level" minOccurs="1" maxOccurs="unbounded">
                                          <xs:complexType>
                                             <xs:attribute name="depth" type="xs:nonNegativeInteger" use="required" />
                                             <xs:attribute name="idColumnName" type="xs:string" use="required" />
                                             <xs:attribute name="codeColumnName" type="xs:string" use="required" />
                                             <xs:attribute name="nameColumnName" type="xs:string" use="required" />
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="id" type="xs:nonNegativeInteger" use="required" />
                           <xs:attribute name="uniqueName" type="xs:string" use="required" />
                           <xs:attribute name="type" type="xs:string" use="optional" />
                           <xs:attribute name="allowedDepth" type="xs:positiveInteger" use="required" />
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
			<xs:element name="AdditionalCalculation" minOccurs="0" maxOccurs="1">
               <xs:complexType>
				  <xs:attribute name="function" type="xs:string" use="required" />
				  <xs:attribute name="args" type="xs:string" use="required" />
			   </xs:complexType>
            </xs:element>
         </xs:sequence>
         <xs:attribute name="cubeUniqueName" type="xs:string" use="required" />
         <xs:attribute name="reportUniqueName" type="xs:string" use="required" />
         <xs:attribute name="dataUpdatedBy" type="xs:string" use="optional" />
         <xs:attribute name="databaseType" type="xs:string" use="required" />
         <xs:attribute name="roleToAccess" type="xs:string" use="required" />
      </xs:complexType>
   </xs:element>
</xs:schema>
